.sh-list {
  li {
    list-style: none;
    padding: 15px;
    border: 1px solid #eee;
  }
  .active {
    background: skyblue;
    color: white;
  }
}

.alert-box-green {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  color: white;
  background-color: green;
}

.alert-box-yellow {
  @extend .alert-box-green;
  background-color: orange;
}

.alert-box-blue {
  @extend .alert-box-green;
  background-color: skyblue;
}

div {
  box-sizing: border-box;
}

@mixin column($width){
  float: left;
  width: $width;
  padding: 15px;
}

.row .col-6 {
  @include column(50%);
}

.row .col-4 {
  @include column(33.33%);
}